:root {
    --primary: #C3DDF2; /* Color principal */
    --background: #FAF9F7; /* Color de fondo */
    --secondary-background: #F6E8D6; /* Color de fondo secundario */
    --gray: #4A4A4A; /* Color de texto */
    --gray-hover: #333333; /* Hover para texto */
    --primary-hover: #A9CCE3; /* Hover para color principal */
    --link-gray: #666666; /* Color de enlaces */
    --link-gray-hover: #333333; /* Hover para enlaces */
    --gray-border: #E6E6E6; /* Color de borde gris */
    --white: #FCFCFC; /* Color blanco */
    --accent: #89CFF0; /* Color de acento */
    --accent-hover: #6EB3E4; /* Hover para color de acento */
    --navbar-height: 64px; /* Altura de la barra de navegación */
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background);
    color: var(--gray);
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--primary);
    padding: 20px;
    text-align: center;
    position: relative;
}

header h1 {
    margin: 0;
    color: var(--gray);
}

nav {
    margin-top: 10px;
}

nav .menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

nav .menu-icon img {
    width: 30px;
    height: 30px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: var(--gray);
    transition: color 0.3s;
}

nav ul li a:hover {
    color: var(--link-gray-hover);
}

.section {
    padding: 50px;
    text-align: center;
}

.section.primary {
    background-color: var(--background);
}

.section.secondary {
    background-color: var(--secondary-background);
}

.section h2 {
    color: var(--gray);
}

.section p {
    color: var(--gray);
}

.accent {
    color: var(--accent);
}

footer {
    background-color: var(--gray);
    color: var(--white);
    text-align: center;
    padding: 20px;
}

@media (max-width: 768px) {
    nav .menu-icon {
        display: block;
    }
    
    nav ul {
        display: none;
        flex-direction: column;
        align-items: center;
    }
    
    nav ul li {
        display: block;
        margin: 10px 0;
    }
}

.nav-open ul {
    display: flex;
}
