/* Variables de colores */
:root {
    --primary: #8FA3A6; /* Light Slate Gray */
    --background: #F7F7F7; /* Ghost White */
    --secondary-background: #E0E0E0; /* Gainsboro */
    --gray: #333333; /* Dark Charcoal */
    --gray-hover: #555555; /* Davy's Gray */
    --primary-hover: #6F888B; /* Shadow Blue */
    --link-gray: #4A90E2; /* Picton Blue */
    --link-gray-hover: #357ABD; /* Cerulean Blue */
    --gray-border: #CCCCCC; /* Chinese Silver */
    --white: #FFFFFF; /* White */
    --accent: #FFD700; /* Golden Yellow */
    --accent-hover: #FFC107; /* Amber */
    --navbar-height: 65px;
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background: var(--background);
}

/* Cards */
.main-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 14px;
    height: 100%;
}

.card-profile {
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    text-align: center;
    margin: auto;
    max-width: 400px;
}

.card__header {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    padding: 20px;
    background-color: var(--primary);
    color: var(--white);
}

.profile-photo {
    border-radius: 3%;
    width: 100%;
    max-width: 150px;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}

.card__header h1 {
    margin: 10px 0 5px;
    font-size: 24px;
}

.card__body {
    padding: 20px;
}

.card__body section {
    margin-bottom: 20px;
}

.card__body section h2 {
    margin-top: 5px;
    color: var(--primary-hover);
}

.details-list {
    text-align: left;
    padding: 0 20px;
}

.details-list dt {
    font-weight: bold;
    margin-top: 10px;
    color: var(--primary-hover);
}

.details-list dd {
    margin: 0 0 10px 0;
}

.card-container {
    background: var(--white);
    border-radius: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.card-container:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 16px;
}

.card__preview {
    height: 12rem;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.card__preview img {
    width: 100%;
    object-fit: cover;
    transition: all 0.4s ease-out;
}

.card-container:hover .card__preview img {
    transform: scale(1.35);
}

.card__address {
    margin-top: 0.5rem;
}

.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    gap: 1.5rem;
}

.card__price {
    background-color: var(--white);
    color: var(--gray);
    z-index: 1;
    position: absolute;
    bottom: 1.25rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    left: 1.25rem;
    font-weight: bold;
}

.card__content {
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: var(--gray);
}

.card__bottom {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__description {
    margin-top: 0.5rem;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}

.card__buttons {
    display: flex;
    gap: 0.5rem;
}

.card__btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Formulario */
.form-container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.form-group input[type="submit"] {
    background-color: var(--primary);
    color: var (--white);
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 10px 0;
}

.form-group input[type="submit"]:hover {
    background: var(--primary-hover);
}

/* Media Queries para pantallas más grandes */
@media (min-width: 600px) {
    .cards-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .main-card {
        flex-direction: row;
    }
    
    .form {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .form-group {
        flex-direction: row;
        align-items: center;
    }
    
    .form-group label {
        width: 30%;
        margin-bottom: 0;
    }
    
    .form-group input, .form-group select {
        width: 70%;
    }

    .card-profile {
        max-width: 900px;
        width: 100%;
    }

    .details-list {
        display: inline;
    }
    
    .details-list dt {
        font-weight: bold;
        display: inline;
    }
    
    .details-list dd {
        display: inline;
    }
}
