/* Variables de colores */
:root {
    --primary: #8FA3A6; /* Light Slate Gray */
    --background: #F7F7F7; /* Ghost White */
    --secondary-background: #E0E0E0; /* Gainsboro */
    --gray: #333333; /* Dark Charcoal */
    --gray-hover: #555555; /* Davy's Gray */
    --primary-hover: #6F888B; /* Shadow Blue */
    --link-gray: #4A90E2; /* Picton Blue */
    --link-gray-hover: #357ABD; /* Cerulean Blue */
    --gray-border: #CCCCCC; /* Chinese Silver */
    --white: #FFFFFF; /* White */
    --accent: #FFD700; /* Golden Yellow */
    --accent-hover: #FFC107; /* Amber */
    --navbar-height: 65px;
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background: var(--background);
}

/* Navbar */
.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background: var(--primary);
    height: auto;
}

.navbar__logo {
    margin-bottom: 10px;
}

.navbar__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar__menu-list {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.navbar__menu-item {
    margin: 5px 0;
}

.navbar__menu-link {
    color: var(--link-gray);
    font-size: 16px;
    text-decoration: none;
}

.navbar__menu-link:hover {
    color: var(--link-gray-hover);
}

.navbar__auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.navbar__auth button {
    margin: 5px 0;
}

/* Botones */
.button--secondary {
    background: none;
    color: var(--link-gray-hover);
    border: 1px solid var(--gray-border);
    border-radius: 0.375rem;
    outline: none;
    padding: 10px 20px;
}

.button--secondary:hover {
    background: var(--secondary-background);
}

.button--primary {
    color: var(--white);
    background: var(--primary);
    border-radius: 0.375rem;
    padding: 10px 20px;
    border: none;
}

.button--primary:hover {
    background: var(--primary-hover);
}

/* Media Queries para pantallas más grandes */
@media (min-width: 600px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .navbar__menu {
        flex-direction: row;
    }
    
    .navbar__menu-list {
        flex-direction: row;
    }
    
    .navbar__menu-item {
        margin: 0 10px;
    }
    
    .navbar__auth {
        flex-direction: row;
    }
    
    .navbar__auth button {
        margin: 0 5px;
    }
}
